* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.consultform {
  background-image: url("../../image/doctor.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
}

.login .profile {
  text-align: center;
  padding-top: 30px;
}

.login .loginContainer {
  font-weight: bold;
  color: black;
  padding: 70px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.9) 59%,
    rgba(255, 255, 255, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.symptomform {
  padding: 30px;
}
.login .loginContainer .title {
  font-weight: bold;
}

.login .loginContainer .text {
  padding-top: 50px;
}

.login button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}
