.Home {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background-image: url("../image/doctorForHome.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 300px;
}

.Home .title {
  padding-top: 50px;
  font-size: 140px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.Home .doctext {
  font-weight: bold;
}

.docbtn {
  padding: 10px;
}

.Home .doctorLogin {
  margin-right: 10px;
}

.Home .patiantLogin {
  margin-right: 10px;
}
